/* font-family: 'Work Sans', sans-serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --clr-primary: #f70058;
  --clr-dark: #0c0e36;
  --clr-light: #fff;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-black: 900;
  --grid: minmax(1em, 1fr) min-content minmax(20rem, 45ch) 1fr minmax(1em, 3fr);
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-dark);
  line-height: 1.6;
}

h1,
h2,
h3 {
  line-height: 1;
}

p {
  margin-top: 0;
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 0.55em 1.25em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: var(--fw-bold);
  margin-bottom: 0.5em;
}

.btn + .btn {
  margin-left: 1em;
}

.btn--primary {
  background-color: var(--clr-primary);
  color: var(--clr-light);
}

.btn--primary:hover {
  background-color: var(--clr-dark);
}

.btn--outline {
  outline: 3px solid var(--clr-primary);
  outline-offset: -3px;
  color: var(--clr-primary);
}

.btn--outline:hover {
  background: var(--clr-dark);
  outline-color: var(--clr-dark);
  color: var(--clr-light);
}

.header {
  background-color: var(--clr-light);
  text-align: center;
}

@media (min-width: 700px) {
  header {
    display: flex;
    justify-content: space-between;
    border: 2px solid green;
    align-items: center;
    /* grid-template-columns: var(--grid); */
  }

  .weather {
    grid-column: -2/-1;
    justify-self: end;
  }
  .logo,
  .nav,
  .weather {
    grid-row: 1;
  }
  .logo {
    grid-column: 2;
    /* align-items: center; */
    /* align-self: center; */
    /* height: 50%; */
    /* top: 50%; */
    /* margin-top: 90%; */
    padding-bottom: 20px;
  }

  .nav {
    /* grid-column: 3/4; */
    display: flex;
    justify-content: end;
  }
  .nav .nav__list {
    display: flex;
    justify-content: space-between;
    /* display: none; */
    width: 250px;
    padding-top: 25px;
  }
}

.logo {
  margin-top: 1em;
  margin-left: 0.75em;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 1em;
  list-style: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1px;
}

.nav__link {
  text-decoration: none;
  color: inherit;
}

.weather {
  display: grid;
  grid-template-columns: min-content 1fr;
  background: var(--clr-dark);
  color: var(--clr-light);
  /* padding: 1em; */
}

.weather__icon {
  grid-row: span 2;
  background-color: var(--clr-primary);
  padding: 0.5em;
  display: flex;
}

.weather__info {
  margin: 0;
  margin-left: 0.75em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  display: flex;
}

.weather__info span {
  color: var(--clr-light);
  margin-left: auto;
  font-size: 1rem;
  align-items: center;
  margin-right: 0.75rem;
  text-transform: none;
}

.weather__info:first-of-type {
  margin-top: 0.5rem;
  position: relative;
  margin-bottom: 0.5rem;
}

.weather__info:first-of-type::after {
  content: '';
  position: absolute;
  background: var(--clr-light);
  opacity: 0.25;
  height: 2px;
  width: 100%;
  width: calc(100% - 0.75rem);
  bottom: -0.25rem;
}

.weather__info:last-of-type {
  margin-bottom: 0.5rem;
}

.main {
  padding: 3em 1em 5rem;
}

@media (min-width: 500px) {
  .main {
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(20rem, 45ch) minmax(1em, 3fr);
    justify-items: start;
  }

  .main > * {
    grid-column: 2/3;
  }

  .main--ski {
    background-position: left bottom;
  }
}

@media (min-width: 700px) {
  .main {
    display: grid;
    grid-template-columns: var(--grid);
    justify-content: start;
  }

  .main > * {
    grid-column: 2 / 4;
  }

  .main--ski {
    background-position: left bottom;
  }
}

@media (min-width: 1200px) {
  .main--ski {
    background-position: center right;
    /* display: none; */
  }
}

.main--ski {
  background-image: url(../images/skiier.jpg);
  background-size: cover;
}

.main__title {
  line-height: 1;
  font-weight: var(--fw-black);
  font-size: 3rem;
  margin-bottom: 0.75em;
}

.main__intro {
  margin-bottom: 4rem;
}
